/* theme changer styles */
[data-theme='modern'] .theme-container {

}

[data-theme='modern'] .theme-container .theme-msg {
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    font-size: 16px;
    line-height: 20px;
    padding-right: 10px;
}

[data-theme='modern'] .theme-container .select-dropdown,
[data-theme='modern'] .theme-container .select-dropdown * {
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
}

[data-theme='modern'] .theme-container .select-dropdown {
    position: relative;
    background-color: #E6E6E6;
    border-radius: 4px;
    padding: 5px;
}

[data-theme='modern'] .theme-container .theme-selector select {
    font-size: 1rem;
    font-weight: normal;
    max-width: 100%;
    padding: 8px 24px 8px 10px;
    border: none;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
[data-theme='modern'] .theme-container .select-dropdown select:active, .select-dropdown select:focus {
    outline: none;
    box-shadow: none;
}
[data-theme='modern'] .theme-container .select-dropdown:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 8px;
    width: 0;
    height: 0;
    margin-top: -2px;
    border-top: 5px solid #aaa;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}