.authenticationContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Apply theme override using global selectors for the outer elements, and local for the component */
:global([data-theme='modern']) .authenticationContainer {

}